.nav.navbar-nav.ml-auto {
  padding-right: .5rem;
}

.app-header-nav-item i {
  font-size: 1.5rem;
  vertical-align: middle;
}

.messages-dropdown-container {
  min-width: 300px;
  box-shadow: #00000030 0 0 20px 0;
  border: 0;
}

.messages-dropdown-container .messages-scrollable-content {
  max-height: 320px;
  /*overflow: hidden auto;*/
  position: relative;
}

.messages-dropdown-container .dropdown-header {
  background-color: white;
  padding: .5rem 0;
  color: #23282c;
  font-size: .8rem;
  border-radius: 5px 5px 0 0;
}

.messages-dropdown-container .dropdown-item {
  padding: 10px 10px;
  cursor: pointer;
}

.messages-dropdown-container .dropdown-header .messages-dropdown-heading {
  padding: 0 0.5rem;
  font-size: 0.85rem;
  display: inline-block;
}

.messages-dropdown-container .message-item .profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background-color: mediumvioletred;
}

.messages-dropdown-container .message-item .profile-photo .sender-photo {
  background-color: mediumvioletred;
}

.messages-dropdown-container .message-item .profile-photo {
  background-color: mediumaquamarine;
}

.messages-dropdown-container .message-item .message-sender,
.messages-dropdown-container .message-item .message-sender-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messages-dropdown-container .message-item .message-sender {
  font-weight: bold;
  font-size: 12px;
}

.messages-dropdown-container .message-item .message-sender img {
  vertical-align: baseline;
}

.messages-dropdown-container .message-item .new-message span {
  width: 5px;
  height: 5px;
  background-color: limegreen;
  border-radius: 50%;
  display: inline-block;
}

.btn.btn-ngx-datatable-link {
  padding: 0;
  color: #007adf;
  text-decoration: underline;
  font-weight: bold;
}

.notification-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages-dropdown-container .show-all-btn {
  text-align: center;
  font-weight: bold;
  padding: 8px 10px;
  border: 0;
}

.language-btn-group {
  padding: 0;
}

.language-btn-group .btn {
  border-radius: 0;
}

.main-img-avatar {
  border: 2px solid transparent;
}

.available-topic-badge {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 25%;
}

.has-available-messages {
  border-color: red;
  animation-name: available-messages-animation;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.time {
  font-size: 10px;
}

@keyframes available-messages-animation {
  0% {border-color: transparent;}
  75% {border: 2px solid red;}
  100% {border-color: transparent;}
}

.has-unread-messages {
  border-color: red;
  animation-name: unread-messages-animation;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes unread-messages-animation {
  0% {color: #73818f;}
  75% {color: red;}
  100% {color: #73818f;}
}
