<h1 mat-dialog-title class="text-center">
  {{ data ? "Update task" : "Create task" }}
</h1>
<div mat-dialog-content>
  <div class="p-t-b-1">
    <form
      class="form-horizontal full-width-form"
      [formGroup]="taskUpInitForm"
      id="taskUpInitForm"
      (ngSubmit)="submit()"
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Title</mat-label>
        <input
          type="text"
          matInput
          autocomplete="title"
          placeholder="Title"
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          type="text"
          matInput
          autocomplete="description"
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Assign to customer</mat-label>
        <mat-select [compareWith]="compareFn" formControlName="customer" multiple>
          <mat-option *ngFor="let customer of customerList" [value]="customer.id">{{ customer?.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusList" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="row submit-button-group">
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="loading || !taskUpInitForm.valid"
      form="taskUpInitForm"
    >
      <i
        class="fa fa-spinner fa-pulse fa-3x fa-fw"
        *ngIf="loading; else btnText"
      ></i>
      <ng-template #btnText>{{ data ? "Update" : "Create" }}</ng-template>
    </button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </div>
</div>
